body{
	
}
a{
	text-decoration: none;
	color: #FFFFFF;
}

#general{
	background:;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}


#main-header {
	color: white;
	width: 100%;
	height: 100px;
    border: 1px solid #29B9d9;
}	
	#main-header a {
		color: white;

	}
#main-header .img{
	padding-left: 0;
	position: relative;
	text-decoration: none;
	margin-top: 0px;
	height: 100px;
	width: 20%;
	margin-left: 50px;
	padding: 5px;


}
/*
 * Navegación
 */
#main-header nav {
	float: right;
	width:69%;
	background: #29B9d9;
	height: 100%;
}


	#main-header nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
		margin-top: 12px;
		
	}
/*	#main-header #buscar {
		float: left;
		margin-left: 50px;
		margin-top: 30px;
	}
	*/
#main-header nav .search-box {
	background: white;
	height: 18px;
	border-radius: 3px;
	padding: 10px;
	width: 30%;
	margin-top: 30px;
	float: left;
	margin-left: 5%;
}
#main-header nav .search-btn{
	color: skyblue ;
	float: right;
    height: 20px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-self: center;
    align-items: center;
    text-decoration: none;
}
#main-header nav .search-txt {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: black;
	font-size: 14px;
	transition: 0.4s;
	width: 85%;
	margin-left: 20px;
	float: left;
}
#login{
	display: block;
	padding-left: 32px;
	padding-right: 32px;
	text-decoration: none;	
	size: 30%;
	font-size: 25px;
}
		#main-header nav ul li {
			display: inline-block;
			line-height: 80px;
			text-decoration: none;

		}			
			#main-header nav ul li a {
				display: block;
				padding-left: 32px;
				padding-right: 32px;
				text-decoration: none;	
				size: 30%;

			}
			#main-header nav ul li a i{
				font-size: 25px;
			}
			
			#main-header nav ul li .logitos{
				display: block;
				padding-right: 10px;
				text-decoration: none;

			}
				#main-header nav ul li a:hover {
					background: #4694A6;
				}




.contenedor-menu {
	width: 26%;	
	float: left;
	display: inline-block;
	margin-top: 50px;
	margin-right: 10px;
	margin-left: -39px;


}
.contenedor-menu .menu .titulo{
	background: #29B9d9;
	text-align: center;
	padding: 15px;
	color: white;
	border-bottom: 1px solid white;
	font-family: font-family: 'Roboto', sans-serif;

}

.contenedor-menu .menu {
	margin: 0px;
	height: 50%;
	width: 400px;
}
.contenedor-menu ul{
	list-style: none;
}
.contenedor-menu .menu li a{
	color: white;
	display: block;
	padding: 15px 20px;
	background: #29B9d9;
	height: 25px;

}
.contenedor-menu .menu li a:hover {
	background:#4694A6;
	color: white;
}
.contenedor-menu .menu .icono {
	font: size 12px;
	line-height: 18px;
}
.contenedor-menu .menu .icono.izquierda {
	float: left;
	margin-right: 10px;
}
.contenedor-menu .menu .icono.derecha {
	float: right;
	margin-left: ;: 10px;
}
.contenedor-menu .menu ul{
	display: none;
	padding: 0;

}

.contenedor-menu .menu ul li a{
	background: #4694A6;
	padding-left: none;

}
.contenedor-menu .menu ul li a:hover {
	background: #595959;
	opacity: 80%;
	color: white;

}
.contenedor-menu .menu .activado > a {
	background: #4694A6;
}
#prod{
	margin-right: auto;
	width: 67%;
	height: 566px;
	float: left;
	margin-top: 50px;
	margin-left: 110px;
}
