*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: white;
	font-family: font-family: 'Roboto', sans-serif;;
	line-height: 18px;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
.contenedor-menu {
	width: 200px;
	min-width: 300px;
	margin: 50px;
	display: inline-block;
	font-family: font-family: 'Roboto', sans-serif;;
	list-style: 18px;
}
.contenedor-menu .menu .titulo{
	background: #29B9d9;
	text-align: center;
	padding: 5px;
	color: white;ç
	font-family: font-family: 'Roboto', sans-serif;
	text-decoration: ;
}

.contenedor-menu .menu {
	widows: 100%;
}
.contenedor-menu ul{
	list-style: none;
}
.contenedor-menu .menu li a{
	color: white;
	display: block;
	padding: 15px 20px;
	background: #29B9d9;

}
.contenedor-menu .menu li a:hover {
	background:#4694A6;
	color: white;
}
.contenedor-menu .menu .icono {
	font: size 12px;
	line-height: 18px;
}
.contenedor-menu .menu .icono.izquierda {
	float: left;
	margin-right: 10px;
}
.contenedor-menu .menu .icono.derecha {
	float: right;
	margin-left: ;: 10px;
}
.contenedor-menu .menu ul{
	display: none;

}

.contenedor-menu .menu ul li a{
	background: #4694A6;


}
.contenedor-menu .menu ul li a:hover {
	background: #9c9c9c;
	color: black;

}
.contenedor-menu .menu .activado > a {
	background: #4694A6;
}